// COLORS
$color-turquoise: #40e0d0;
$color-canary: #fffd98;
$color-oxford-blue: #000022;
$color-dark-lava: #493b2a;
$color-rusty-red: #de3c4b;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  background-color: #40e0d0;
  height: 100%;
}
